In [1]:
import pandas as pd

In [2]:
#INIT SECTION -- 
DKSalaries = 'DKSalaries/DKSalariesJuly10.csv'
RawFile = pd.read_csv(DKSalaries)

In [3]:
def Abv2Name(x):
    return {
        'ARI': 'Diamondbacks',
        'ATL': 'Braves',
        'BAL': 'Orioles',
        'CHC': 'Cubs',
        'CLE': 'Indians',
        'COL': 'Rockies',
        'DET': 'Tigers',
        'MIA': 'Marlins',
        'HOU': 'Astros',
        'LAA': 'Angels',
        'LAD': 'Dodgers',
        'MIL': 'Brewers',
        'MIN': 'Twins',
        'NYM': 'Mets',
        'NYY': 'Yankees',
        'OAK': 'Athletics',
        'PHI': 'Phillies',
        'PIT': 'Pirates',
        'SD': 'Padres',
        'SF': 'Giants',
        'SEA': 'Mariners',
        'STL': 'Cardinals',
        'TEX': 'Rangers',
        'TB': 'Rays',
        'TOR': 'Blue Jays',
        'WAS': 'Nationals',
        'BOS': 'Red Sox',
        'CIN': 'Reds',
        'CWS': 'White Sox',
        'KC': 'Royals',
        'CHW': 'White Sox',
        'KCR' : 'Royals',
        'SDP' : 'Padres',
        'SFG' : 'Giants',
        'TBR' : 'Rays'
    }[x]

In [4]:
RawFile['Team'] = RawFile.apply(lambda x: Abv2Name(x['TeamAbbrev']), axis=1)

In [5]:
RawFile

,Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame,Team
0,SP,Max Scherzer (10919781),Max Scherzer,10919781,P,14300,WAS@PIT 07/10/2018 07:05PM ET,WAS,26.27,Nationals
1,SP,Chris Sale (10919782),Chris Sale,10919782,P,14000,TEX@BOS 07/10/2018 07:10PM ET,BOS,27.77,Red Sox
2,SP,Trevor Bauer (10918873),Trevor Bauer,10918873,P,13600,CIN@CLE 07/10/2018 07:10PM ET,CLE,25.98,Indians
3,SP,Justin Verlander (10918874),Justin Verlander,10918874,P,13300,OAK@HOU 07/10/2018 08:10PM ET,HOU,26.56,Astros
4,SP,Aaron Nola (10919783),Aaron Nola,10919783,P,13100,PHI@NYM 07/10/2018 07:10PM ET,PHI,23.18,Phillies
5,SP,Gerrit Cole (10919784),Gerrit Cole,10919784,P,13000,OAK@HOU 07/10/2018 08:10PM ET,HOU,26.87,Astros
6,SP,Luis Severino (10919786),Luis Severino,10919786,P,13000,NYY@BAL 07/10/2018 07:05PM ET,NYY,25.96,Yankees
7,SP,Jacob deGrom (10919785),Jacob deGrom,10919785,P,13000,PHI@NYM 07/10/2018 07:10PM ET,NYM,24.78,Mets
8,SP,Clayton Kershaw (10919787),Clayton Kershaw,10919787,P,12900,LAD@SD 07/10/2018 10:10PM ET,LAD,17.24,Dodgers
9,SP,Blake Snell (10919788),Blake Snell,10919788,P,12700,DET@TB 07/10/2018 07:10PM ET,TB,23.53,Rays
10,SP,James Paxton (10919789),James Paxton,10919789,P,12500,SEA@LAA 07/10/2018 10:07PM ET,SEA,23.72,Mariners
11,SP,Charlie Morton (10919790),Charlie Morton,10919790,P,12200,OAK@HOU 07/10/2018 08:10PM ET,HOU,23.47,Astros
12,SP,Stephen Strasburg (10919791),Stephen Strasburg,10919791,P,12200,WAS@PIT 07/10/2018 07:05PM ET,WAS,21.41,Nationals
13,SP,Lance McCullers Jr. (10919792),Lance McCullers Jr.,10919792,P,11900,OAK@HOU 07/10/2018 08:10PM ET,HOU,20.15,Astros
14,SP,Corey Kluber (10919793),Corey Kluber,10919793,P,11800,CIN@CLE 07/10/2018 07:10PM ET,CLE,23.34,Indians
15,SP,Jose Berrios (10919794),Jose Berrios,10919794,P,11800,KC@MIN 07/10/2018 08:10PM ET,MIN,20.62,Twins
16,SP,Madison Bumgarner (10919795),Madison Bumgarner,10919795,P,11100,CHC@SF 07/10/2018 10:15PM ET,SF,16.55,Giants
17,SP,Mike Clevinger (10919796),Mike Clevinger,10919796,P,10800,CIN@CLE 07/10/2018 07:10PM ET,CLE,18.94,Indians
18,SP,Carlos Carrasco (10919797),Carlos Carrasco,10919797,P,10800,CIN@CLE 07/10/2018 07:10PM ET,CLE,18.82,Indians
19,SP,Mike Foltynewicz (10919799),Mike Foltynewicz,10919799,P,10500,TOR@ATL 07/10/2018 07:35PM ET,ATL,20.94,Braves
20,SP,Noah Syndergaard (10919798),Noah Syndergaard,10919798,P,10500,PHI@NYM 07/10/2018 07:10PM ET,NYM,20.14,Mets
21,SP,Patrick Corbin (10918875),Patrick Corbin,10918875,P,10400,ARI@COL 07/10/2018 08:40PM ET,ARI,23.08,Diamondbacks
22,SP,Tyler Skaggs (10919800),Tyler Skaggs,10919800,P,10400,SEA@LAA 07/10/2018 10:07PM ET,LAA,19.25,Angels
23,SP,Zach Eflin (10919801),Zach Eflin,10919801,P,10400,PHI@NYM 07/10/2018 07:10PM ET,PHI,18.58,Phillies
24,SP,Rick Porcello (10919802),Rick Porcello,10919802,P,10200,TEX@BOS 07/10/2018 07:10PM ET,BOS,18.56,Red Sox
25,SP,Zack Greinke (10919803),Zack Greinke,10919803,P,10200,ARI@COL 07/10/2018 08:40PM ET,ARI,18.92,Diamondbacks
26,SP,Freddy Peralta (10919804),Freddy Peralta,10919804,P,10200,MIL@MIA 07/10/2018 07:10PM ET,MIL,24.96,Brewers
27,SP,Kenta Maeda (10919805),Kenta Maeda,10919805,P,10100,LAD@SD 07/10/2018 10:10PM ET,LAD,16.34,Dodgers
28,RP,Ross Stripling (10919806),Ross Stripling,10919806,P,10000,LAD@SD 07/10/2018 10:10PM ET,LAD,12.33,Dodgers
29,SP,Miles Mikolas (10918876),Miles Mikolas,10918876,P,9900,STL@CWS 07/10/2018 08:10PM ET,STL,16.82,Cardinals
...,...,...,...,...,...,...,...,...,...,...
1496,OF,Kirk Nieuwenhuis (10919750),Kirk Nieuwenhuis,10919750,OF,2200,SEA@LAA 07/10/2018 10:07PM ET,SEA,0.00,Mariners
1497,C,Tuffy Gosewisch (10919757),Tuffy Gosewisch,10919757,C,2200,SEA@LAA 07/10/2018 10:07PM ET,SEA,0.00,Mariners
1498,OF,Mickey Moniak (10919752),Mickey Moniak,10919752,OF,2200,PHI@NYM 07/10/2018 07:10PM ET,PHI,0.00,Phillies
1499,SS,Andres Gimenez (10919753),Andres Gimenez,10919753,SS,2200,PHI@NYM 07/10/2018 07:10PM ET,NYM,0.00,Mets
1500,OF,Daniel Nava (10919749),Daniel Nava,10919749,OF,2200,WAS@PIT 07/10/2018 07:05PM ET,PIT,0.00,Pirates
1501,OF,Ryan Raburn (10919751),Ryan Raburn,10919751,OF,2200,WAS@PIT 07/10/2018 07:05PM ET,WAS,0.00,Nationals
1502,SS,Carter Kieboom (10919754),Carter Kieboom,10919754,SS,2200,WAS@PIT 07/10/2018 07:05PM ET,WAS,0.00,Nationals
1503,1B/OF,Scott Van Slyke (10919755),Scott Van Slyke,10919755,1B/OF,2200,MIL@MIA 07/10/2018 07:10PM ET,MIA,0.00,Marlins
1504,SS,Logan Warmoth (10919760),Logan Warmoth,10919760,SS,2100,TOR@ATL 07/10/2018 07:35PM ET,TOR,0.00,Blue Jays
1505,C,Jarrod Saltalamacchia (10919758),Jarrod Saltalamacchia,10919758,C,2100,DET@TB 07/10/2018 07:10PM ET,DET,0.00,Tigers
1506,2B/SS,Andres Blanco (10919764),Andres Blanco,10919764,2B/SS,2100,CHC@SF 07/10/2018 10:15PM ET,SF,0.00,Giants
1507,OF,Cameron Perkins (10919763),Cameron Perkins,10919763,OF,2100,SEA@LAA 07/10/2018 10:07PM ET,SEA,0.00,Mariners
1508,OF,Chris Heisey (10919759),Chris Heisey,10919759,OF,2100,KC@MIN 07/10/2018 08:10PM ET,MIN,0.00,Twins
1509,1B,Nick Pratto (10919761),Nick Pratto,10919761,1B,2100,KC@MIN 07/10/2018 08:10PM ET,KC,0.00,Royals
1510,OF,Khalil Lee (10919762),Khalil Lee,10919762,OF,2100,KC@MIN 07/10/2018 08:10PM ET,KC,0.00,Royals
1511,OF,Leody Taveras (10919770),Leody Taveras,10919770,OF,2000,TEX@BOS 07/10/2018 07:10PM ET,TEX,0.00,Rangers
1512,OF,Bubba Thompson (10919776),Bubba Thompson,10919776,OF,2000,TEX@BOS 07/10/2018 07:10PM ET,TEX,0.00,Rangers
1513,OF,Blake Rutherford (10919772),Blake Rutherford,10919772,OF,2000,STL@CWS 07/10/2018 08:10PM ET,CWS,0.00,White Sox
1514,SS,Delvin Perez (10919774),Delvin Perez,10919774,SS,2000,STL@CWS 07/10/2018 08:10PM ET,STL,0.00,Cardinals
1515,1B,Mike Napoli (10919766),Mike Napoli,10919766,1B,2000,CIN@CLE 07/10/2018 07:10PM ET,CLE,0.00,Indians
1516,OF,Daniel Robertson (10919767),Daniel Robertson,10919767,OF,2000,ARI@COL 07/10/2018 08:40PM ET,ARI,0.00,Diamondbacks
1517,OF,Heliot Ramos (10919777),Heliot Ramos,10919777,OF,2000,CHC@SF 07/10/2018 10:15PM ET,SF,0.00,Giants
1518,3B,Joe Rizzo (10919773),Joe Rizzo,10919773,3B,2000,SEA@LAA 07/10/2018 10:07PM ET,SEA,0.00,Mariners
1519,OF,Ichiro Suzuki (10919779),Ichiro Suzuki,10919779,OF,2000,SEA@LAA 07/10/2018 10:07PM ET,SEA,2.87,Mariners
1520,C,Luis Torrens (10919768),Luis Torrens,10919768,C,2000,LAD@SD 07/10/2018 10:10PM ET,SD,0.00,Padres
1521,SS,Allen Cordoba (10919769),Allen Cordoba,10919769,SS,2000,LAD@SD 07/10/2018 10:10PM ET,SD,0.00,Padres
1522,SS,Wander Javier (10919771),Wander Javier,10919771,SS,2000,KC@MIN 07/10/2018 08:10PM ET,MIN,0.00,Twins
1523,OF,Alex Kirilloff (10919775),Alex Kirilloff,10919775,OF,2000,KC@MIN 07/10/2018 08:10PM ET,MIN,0.00,Twins
1524,SS,Royce Lewis (10919778),Royce Lewis,10919778,SS,2000,KC@MIN 07/10/2018 08:10PM ET,MIN,0.00,Twins
1525,C,Juan Graterol (10919780),Juan Graterol,10919780,C,2000,KC@MIN 07/10/2018 08:10PM ET,MIN,3.00,Twins

In [6]:
FormattedSalaries = pd.DataFrame()
FormattedSalaries['Name'] = RawFile['Name']
FormattedSalaries['Team'] = RawFile['Team']
FormattedSalaries['Position'] = RawFile['Position']
FormattedSalaries['Salary'] = RawFile['Salary']

In [7]:
FormattedSalaries

                       Name          Team Position  Salary
0              Max Scherzer     Nationals       SP   14300
1                Chris Sale       Red Sox       SP   14000
2              Trevor Bauer       Indians       SP   13600
3          Justin Verlander        Astros       SP   13300
4                Aaron Nola      Phillies       SP   13100
5               Gerrit Cole        Astros       SP   13000
6             Luis Severino       Yankees       SP   13000
7              Jacob deGrom          Mets       SP   13000
8           Clayton Kershaw       Dodgers       SP   12900
9               Blake Snell          Rays       SP   12700
10             James Paxton      Mariners       SP   12500
11           Charlie Morton        Astros       SP   12200
12        Stephen Strasburg     Nationals       SP   12200
13      Lance McCullers Jr.        Astros       SP   11900
14             Corey Kluber       Indians       SP   11800
15             Jose Berrios         Twins       SP   11800
16        Madison Bumgarner        Giants       SP   11100
17           Mike Clevinger       Indians       SP   10800
18          Carlos Carrasco       Indians       SP   10800
19         Mike Foltynewicz        Braves       SP   10500
20         Noah Syndergaard          Mets       SP   10500
21           Patrick Corbin  Diamondbacks       SP   10400
22             Tyler Skaggs        Angels       SP   10400
23               Zach Eflin      Phillies       SP   10400
24            Rick Porcello       Red Sox       SP   10200
25             Zack Greinke  Diamondbacks       SP   10200
26           Freddy Peralta       Brewers       SP   10200
27              Kenta Maeda       Dodgers       SP   10100
28           Ross Stripling       Dodgers       RP   10000
29            Miles Mikolas     Cardinals       SP    9900
...                     ...           ...      ...     ...
1496       Kirk Nieuwenhuis      Mariners       OF    2200
1497        Tuffy Gosewisch      Mariners        C    2200
1498          Mickey Moniak      Phillies       OF    2200
1499         Andres Gimenez          Mets       SS    2200
1500            Daniel Nava       Pirates       OF    2200
1501            Ryan Raburn     Nationals       OF    2200
1502         Carter Kieboom     Nationals       SS    2200
1503        Scott Van Slyke       Marlins    1B/OF    2200
1504          Logan Warmoth     Blue Jays       SS    2100
1505  Jarrod Saltalamacchia        Tigers        C    2100
1506          Andres Blanco        Giants    2B/SS    2100
1507        Cameron Perkins      Mariners       OF    2100
1508           Chris Heisey         Twins       OF    2100
1509            Nick Pratto        Royals       1B    2100
1510             Khalil Lee        Royals       OF    2100
1511          Leody Taveras       Rangers       OF    2000
1512         Bubba Thompson       Rangers       OF    2000
1513       Blake Rutherford     White Sox       OF    2000
1514           Delvin Perez     Cardinals       SS    2000
1515            Mike Napoli       Indians       1B    2000
1516       Daniel Robertson  Diamondbacks       OF    2000
1517           Heliot Ramos        Giants       OF    2000
1518              Joe Rizzo      Mariners       3B    2000
1519          Ichiro Suzuki      Mariners       OF    2000
1520           Luis Torrens        Padres        C    2000
1521          Allen Cordoba        Padres       SS    2000
1522          Wander Javier         Twins       SS    2000
1523         Alex Kirilloff         Twins       OF    2000
1524            Royce Lewis         Twins       SS    2000
1525          Juan Graterol         Twins        C    2000

[1526 rows x 4 columns]

In [8]:
#Attach Fangraphs predictions
BatterPred = 'FanGraphPred/July10/FanGraphsBatterJuly10.csv'
PitcherPred = 'FanGraphPred/July10/FanGraphsPitcherJuly10.csv'

In [9]:
#Load the prediction files.
BatterPredDF = pd.read_csv(BatterPred)
PitcherPredDF = pd.read_csv(PitcherPred)

In [10]:
#Drop useless columns
BatterPredDF.drop(columns=['Game','Pos','PA','H','1B','2B','3B','HR','R','RBI','SB','CS','BB','SO','Yahoo','FanDuel', 'playerid'], inplace=True)
PitcherPredDF.drop(columns=['Game','W','IP','TBF','H','1B','2B','3B','HR','BB','SO','Yahoo','FanDuel', 'playerid'], inplace=True)

In [11]:
FanGraphPred = pd.concat([BatterPredDF,PitcherPredDF]).rename(columns={'DraftKings':'DKFG'})

In [12]:
FanGraphPred.head()

               Name          Team   DKFG
0    Ryan Yarbrough          Rays  15.98
1     Eddie Rosario         Twins  12.24
2     J.D. Martinez       Red Sox  12.01
3      Mookie Betts       Red Sox  11.92
4  Paul Goldschmidt  Diamondbacks  11.27

In [13]:
#Merge the salaries with original.
FormattedSalaries = FormattedSalaries.merge(FanGraphPred, how='left', left_on=['Name', 'Team'], right_on=['Name', 'Team']).dropna(subset=['DKFG'])

In [14]:
FormattedSalaries.head()

                Name          Team Position  Salary   DKFG
2       Trevor Bauer       Indians       SP   13600  19.93
3   Justin Verlander        Astros       SP   13300  28.44
21    Patrick Corbin  Diamondbacks       SP   10400  15.17
29     Miles Mikolas     Cardinals       SP    9900  16.24
38       Sean Manaea     Athletics       SP    9200  12.43

In [15]:
#Input the RotoGrinders Data.
BatterPred = 'RotoGPred/July10/mlb-hitterJuly10.csv'
PitcherPred = 'RotoGPred/July10/mlb-pitcherJuly10.csv'

In [16]:
BatterPredDF = pd.read_csv(BatterPred, header=None)
PitcherPredDF = pd.read_csv(PitcherPred, header=None)

In [17]:
BatterPredDF.head()

                 0     1    2   3    4   5      6     7
0     Mitch Garver  3400  MIN   C  KCR NaN  0.999  5.90
1     Brian Dozier  4100  MIN  2B  KCR NaN  0.751  8.82
2  Alcides Escobar  2600  KCR  SS  MIN NaN  0.999  5.21
3   Mike Moustakas  4400  KCR  3B  MIN NaN  0.999  8.90
4       Lucas Duda  3600  KCR  1B  MIN NaN  0.999  7.52

In [18]:
BatterPredDF['Team'] = BatterPredDF.apply(lambda x: Abv2Name(x[2]), axis=1)
PitcherPredDF['Team'] = PitcherPredDF.apply(lambda x: Abv2Name(x[2]), axis=1)

In [19]:
BatterPredDF.rename(columns={0:'Name',7:'DKRoto'}, inplace=True )
PitcherPredDF.rename(columns={0:'Name',7:'DKRoto'}, inplace=True )

In [20]:
BatterPredDF.drop(columns={1, 2, 3, 4, 5, 6}, inplace=True)

In [21]:
PitcherPredDF.drop(columns={1, 2, 3, 4, 5, 6}, inplace =True)

In [22]:
BatterPredDF.head()

              Name  DKRoto    Team
0     Mitch Garver    5.90   Twins
1     Brian Dozier    8.82   Twins
2  Alcides Escobar    5.21  Royals
3   Mike Moustakas    8.90  Royals
4       Lucas Duda    7.52  Royals

In [23]:
PitcherPredDF.head()

               Name  DKRoto       Team
0     Aaron Slegers   12.81      Twins
1       Ian Kennedy   11.08     Royals
2  Justin Verlander   27.65     Astros
3       Sean Manaea   12.75  Athletics
4     Miles Mikolas   17.74  Cardinals

In [24]:
RotoPred = pd.concat([BatterPredDF,PitcherPredDF])

In [25]:
RotoPred.head()

              Name  DKRoto    Team
0     Mitch Garver    5.90   Twins
1     Brian Dozier    8.82   Twins
2  Alcides Escobar    5.21  Royals
3   Mike Moustakas    8.90  Royals
4       Lucas Duda    7.52  Royals

In [26]:
FormattedSalaries = FormattedSalaries.merge(RotoPred, how='left', left_on=['Name', 'Team'], right_on=['Name', 'Team']).dropna(subset=['DKRoto'])

In [27]:
FormattedSalaries.head()

               Name          Team Position  Salary   DKFG  DKRoto
0      Trevor Bauer       Indians       SP   13600  19.93   23.73
1  Justin Verlander        Astros       SP   13300  28.44   27.65
2    Patrick Corbin  Diamondbacks       SP   10400  15.17   10.00
3     Miles Mikolas     Cardinals       SP    9900  16.24   17.74
4       Sean Manaea     Athletics       SP    9200  12.43   12.75

In [28]:
VarianceLoc = 'DataBaseCrawler/MasterVarianceList.csv'

In [29]:
VarFile = pd.read_csv(VarianceLoc)

In [30]:
VarFile.head()

   Unnamed: 0               Name     Team        Var      VarSV
0           0    Ronald Torreyes  Yankees  17.569417  29.089462
1           1     Miguel Andujar  Yankees  64.543522  57.134444
2           2  Giancarlo Stanton  Yankees  82.317647  75.369122
3           3     Gleyber Torres  Yankees  58.540292  52.878313
4           4      Austin Romine  Yankees  17.544471  30.580084

In [31]:
FormattedSalaries = FormattedSalaries.merge(VarFile, how='left', left_on=['Name', 'Team'], right_on=['Name', 'Team'])

In [32]:
FormattedSalaries.drop(columns=['VarSV', 'Unnamed: 0'], inplace=True)

In [33]:
FormattedSalaries.dropna(subset=['Var'], inplace = True)

In [34]:
FormattedSalaries.head()

               Name          Team Position  Salary   DKFG  DKRoto         Var
0      Trevor Bauer       Indians       SP   13600  19.93   23.73  142.288313
1  Justin Verlander        Astros       SP   13300  28.44   27.65  127.194487
2    Patrick Corbin  Diamondbacks       SP   10400  15.17   10.00  120.287960
3     Miles Mikolas     Cardinals       SP    9900  16.24   17.74  111.402326
4       Sean Manaea     Athletics       SP    9200  12.43   12.75  112.524611

In [35]:
#Add in the Bat projections.
TheBatBatter = './The-BAT/the-bat-hitters-Aug18.csv'
TheBatPitcher = './The-BAT/the-bat-pitchers-Aug18.csv'
BatBatterPred = pd.read_csv(TheBatBatter)
BatPitcherPred = pd.read_csv(TheBatPitcher)

In [36]:
BatBatterPred.head()

,PLAYERID,PLAYER,SALARY,OPP,POS,TEAM,SCHEDULE_ID,NAME,LP,OL,...,R,SB,CS,HR_DEPENDENCE,DK_0%_PH%,FD_0%_PH%,FPTS,FPTS/$,Unnamed: 47,Unnamed: 48
0,10557,Giancarlo Stanton,5300,TOR,OF,NYY,46055,Giancarlo Stanton,2,True,...,0.40,0.97,1.04,0.02,0.00,50%,11.95,16.23,11.95,2.25
1,16500,Mookie Betts,6300,TBR,OF,BOS,46059,Mookie Betts,1,True,...,0.21,0.69,0.93,0.22,0.03,27%,11.55,15.38,11.45,1.82
2,11424,J.D. Martinez,5800,TBR,OF,BOS,46059,J.D. Martinez,4,True,...,0.29,1.01,0.87,0.03,0.01,41%,10.88,14.85,10.88,1.88
3,10554,Justin Upton,5100,TEX,OF,LAA,46064,Justin Upton,3,False,...,0.27,0.88,0.83,0.04,0.01,40%,10.75,14.46,10.73,2.10
4,14541,Aaron Hicks,4800,TOR,OF,NYY,46055,Aaron Hicks,3,True,...,0.26,0.80,0.80,0.07,0.02,38%,10.49,14.21,10.49,2.19

In [37]:
BatPitcherPred.head()

,PLAYERID,PLAYER,SALARY,OPP,POS,TEAM,SCHEDULE_ID,NAME,OL,2H,...,CG,CGSH,K,BB,HBP,H,HR,ER,FPTS,FPTS/$
0,17652,Jacob deGrom,13000.0,PHI,SP,NYM,46066,Jacob deGrom,True,&nbsp;,...,0.06,0.03,8.28,1.92,0.12,5.50,0.98,2.59,23.35,1.80
1,21546,Luis Severino,10300.0,TOR,SP,NYY,46055,Luis Severino,True,&nbsp;,...,0.04,0.02,7.31,1.48,0.21,5.77,0.99,2.58,22.50,2.18
2,21539,Zack Godley,8700.0,SDP,SP,ARI,46058,Zack Godley,False,&nbsp;,...,0.06,0.03,6.81,2.05,0.24,5.38,0.67,2.18,21.83,2.51
3,16142,Mike Foltynewicz,11100.0,COL,SP,ATL,46056,Mike Foltynewicz,False,&nbsp;,...,0.03,0.01,7.17,1.93,0.21,5.33,0.77,2.48,20.87,1.88
4,10932,Madison Bumgarner,9000.0,CIN,SP,SFG,46057,Madison Bumgarner,True,&nbsp;,...,0.06,0.03,6.79,1.49,0.18,5.43,0.97,2.50,20.86,2.32

In [38]:
BatBatterPred = BatBatterPred[['NAME', 'TEAM', 'FPTS']]
BatBatterPred['TEAM']=BatBatterPred.apply(lambda x: Abv2Name(x['TEAM']), axis=1)
BatBatterPred.columns = ['Name', 'Team', 'BATPred']
BatBatterPred.head()

                Name     Team  BATPred
0  Giancarlo Stanton  Yankees    11.95
1       Mookie Betts  Red Sox    11.55
2      J.D. Martinez  Red Sox    10.88
3       Justin Upton   Angels    10.75
4        Aaron Hicks  Yankees    10.49

In [39]:
BatPitcherPred = BatPitcherPred[['NAME', 'TEAM', 'FPTS']]
BatPitcherPred['TEAM'] = BatPitcherPred.apply(lambda x: Abv2Name(x['TEAM']), axis=1)
BatPitcherPred.columns = ['Name', 'Team', 'BATPred']
BatPitcherPred.head()

                Name          Team  BATPred
0       Jacob deGrom          Mets    23.35
1      Luis Severino       Yankees    22.50
2        Zack Godley  Diamondbacks    21.83
3   Mike Foltynewicz        Braves    20.87
4  Madison Bumgarner        Giants    20.86

In [40]:
#Concat the Predictions
BATPred = pd.concat([BatBatterPred,BatPitcherPred])

In [41]:
#Merge the predictions.
FormattedSalaries = FormattedSalaries.merge(BATPred, how='left', left_on=['Name', 'Team'], right_on=['Name', 'Team']).dropna(subset=['BATPred'])
FormattedSalaries.head()

,Name,Team,Position,Salary,DKFG,DKRoto,Var,BATPred
3,Miles Mikolas,Cardinals,SP,9900,16.24,17.74,111.402326,16.73
6,Rich Hill,Dodgers,SP,8600,20.82,20.79,136.114064,15.39
11,Joe Musgrove,Pirates,SP,7600,13.92,13.02,84.604181,14.25
20,Mookie Betts,Red Sox,OF,6000,11.92,11.36,99.869961,11.55
21,Jose Ramirez,Indians,3B,5900,9.96,10.17,71.398324,9.88